* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;

    background-color: black;
    position: relative;
}

/* main */
main {
    /* background-color: rgba(0, 0, 255, 0.462); */
    /* test */

    width: 100vw;
    height: 100vh;

    position: relative;
}

main .options {
    display: flex;
    gap: 8px;
    color: white;

    position: absolute;
    top: 8px;
    right: 8px;
}

main .options .speaker-view {
    display: flex;
    align-items: center;
    gap: 3px;

    z-index: 1;

    border-radius: 6px;

    padding: 6px;
    background-color: #4A4A4A;
}

main .options .speaker-view p {
    font-size: 14px;
}

main .options .expand {

    border-radius: 6px;

    padding: 6px;
    background-color: #4A4A4A;
}

main .container {

    /* border: 1px solid red; */
    /* test */

    padding: 81px 151px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px 6px;

    width: 100%;
    height: calc(100vh - 86px);

    overflow-y: scroll;
}

main .container .person {
    /* border: 1px solid red; */
    /* test */

    display: flex;

    position: relative;
    width: calc(100% / 7 - 6px / 7 * 6);

}

main .container .person img {
    width: 100%;

}

main .container .person .username {
    display: flex;
    align-items: center;
    gap: 4px;

    padding: 8px 4px;

    position: absolute;
    bottom: 0px;


    background-color: rgba(0, 0, 0, 0.25);
    color: white;
}



main .container .person .username .name {
    font-weight: 100;
    font-size: 14px;
    display: inline-block;
}

/* fine main */

/* bottom bar */
.bottom-bar {
    /* height: 40px; */
    /* border: 1px solid red; */
    /* test */

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 10px 16px;

    background-color: #222222;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
}

.group {
    display: flex;
    align-items: flex-end;
    gap: 20px;

    color: white;
}

.bottom-bar .icon-option {
    display: flex;
    align-items: center;
    gap: 20px;
}

.bottom-bar .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
}

.bottom-bar .label {
    font-size: 14px;
}

.green {
    color: #4BC800;
}

.bottom-bar .container {
    position: relative;
    width: 100%;
    height: 100%;
}

.center.group {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.end {
    display: flex;
    align-items: center;

    background-color: #4A4A4A;
    padding: 0 20px;
    height: 86px;

    position: fixed;
    bottom: 0;
    right: 0;
}

.end span {
    color: red;
}


/* fine bottom bar */